.kyc {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .kyc .div {
    background-color: #ffffff;
    height: 426px;
    position: relative;
    width: 677px;
  }
  
  .kyc .overlap-group {
    height: 29px;
    left: 44px;
    position: absolute;
    top: 101px;
    width: 92px;
  }
  
  .kyc .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .kyc .line {
    height: 1px;
    left: 3px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 89px;
  }
  
  .kyc .text-wrapper-2 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 135px;
  }
  
  .kyc .text-wrapper-3 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 200px;
  }
  
  .kyc .text-wrapper-4 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 265px;
  }
  
  .kyc .text-wrapper-5 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 361px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 135px;
  }
  
  .kyc .text-wrapper-6 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 361px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 200px;
  }
  
  .kyc .text-wrapper-7 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 361px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 265px;
  }
  
  .kyc .rectangle {
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 30px;
    left: 44px;
    position: absolute;
    top: 162px;
    width: 272px;
    border: none;
  }
  
  .kyc .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 30px;
    left: 44px;
    position: absolute;
    top: 227px;
    width: 272px;
    /* border: none; */
  }
  
  .kyc .rectangle-3 {
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 30px;
    left: 44px;
    position: absolute;
    top: 292px;
    width: 272px;
  }
  
  .kyc .rectangle-4 {
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 30px;
    left: 361px;
    position: absolute;
    top: 162px;
    width: 272px;
  }
  
  .kyc .rectangle-5 {
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 30px;
    left: 361px;
    position: absolute;
    top: 227px;
    width: 272px;
  }
  
  .kyc .rectangle-6 {
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 30px;
    left: 361px;
    position: absolute;
    top: 292px;
    width: 272px;
  }
  
  .kyc .text-wrapper-8 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 238px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 23px;
  }
  
  .kyc .submit-following-to {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 214px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 65px;
  }
  
  .kyc .overlap {
    background-color: #1855cc;
    border-radius: 14px;
    height: 43px;
    left: 260px;
    position: absolute;
    top: 357px;
    width: 157px;
  }
  
  .kyc .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
  }
  
  input{
    border: none;
  }
  