.kyc {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .kyc .div {
    background-color: #ffffff;
    height: 531px;
    position: relative;
    width: 355px;
  }
  
  .kyc .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 64px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
  }
  
  .kyc .submit-following-to {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 60px;
  }
  
  .kyc .overlap-group {
    background-color: #1855cc;
    border-radius: 14px;
    height: 43px;
    left: 99px;
    position: absolute;
    top: 440px;
    width: 157px;
  }
  
  .kyc .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
  }
  
  .kyc .text-wrapper-3 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 155px;
  }
  
  .kyc .text-wrapper-4 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 129px;
  }
  
  .kyc .text-wrapper-5 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 207px;
  }
  
  .kyc .text-wrapper-6 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 181px;
  }
  
  .kyc .rectangle {
    border: 1px solid;
    border-color: #000000;
    height: 15px;
    left: 161px;
    position: absolute;
    top: 183px;
    width: 24px;
  }
  
  .kyc .rectangle-2 {
    border: 1px solid;
    border-color: #000000;
    height: 18px;
    left: 225px;
    position: absolute;
    top: 152px;
    width: 24px;
  }
  
  .kyc .rectangle-3 {
    border: 1px solid;
    border-color: #000000;
    height: 18px;
    left: 165px;
    position: absolute;
    top: 125px;
    width: 24px;
  }
  
  .kyc .rectangle-4 {
    border: 1px solid;
    border-color: #000000;
    height: 18px;
    left: 179px;
    position: absolute;
    top: 202px;
    width: 24px;
  }
  
  .kyc .text-wrapper-7 {
    color: #0e88f9;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 277px;
  }
  
  .kyc .text-wrapper-8 {
    color: #0e88f9;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 351px;
  }
  
  .kyc .text-wrapper-9 {
    color: #0e88f9;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 302px;
  }
  
  .kyc .text-wrapper-10 {
    color: #0e88f9;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 376px;
  }
  
  .kyc .text-wrapper-11 {
    color: #0e88f9;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 325px;
  }
  
  .kyc .rectangle-5 {
    border: 1px solid;
    border-color: #000000;
    height: 15px;
    left: 40px;
    position: absolute;
    top: 277px;
    width: 24px;
  }
  
  .kyc .rectangle-6 {
    border: 1px solid;
    border-color: #000000;
    height: 15px;
    left: 40px;
    position: absolute;
    top: 350px;
    width: 24px;
  }
  
  .kyc .rectangle-7 {
    border: 1px solid;
    border-color: #000000;
    height: 15px;
    left: 40px;
    position: absolute;
    top: 302px;
    width: 24px;
  }
  
  .kyc .rectangle-8 {
    border: 1px solid;
    border-color: #000000;
    height: 15px;
    left: 40px;
    position: absolute;
    top: 376px;
    width: 24px;
  }
  
  .kyc .rectangle-9 {
    border: 1px solid;
    border-color: #000000;
    height: 15px;
    left: 40px;
    position: absolute;
    top: 326px;
    width: 24px;
  }
  
  .kyc .overlap {
    height: 24px;
    left: 40px;
    position: absolute;
    top: 96px;
    width: 111px;
  }
  
  .kyc .text-wrapper-12 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .kyc .line {
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 22px;
    width: 110px;
  }
  
  .kyc .text-wrapper-13 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 244px;
    white-space: nowrap;
  }
  
  .kyc .img {
    height: 1px;
    left: 40px;
    object-fit: cover;
    position: absolute;
    top: 269px;
    width: 117px;
  }
  
  .kyc .line-2 {
    height: 1px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 296px;
    width: 125px;
  }
  
  .kyc .line-3 {
    height: 1px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 321px;
    width: 135px;
  }
  
  .kyc .line-4 {
    height: 1px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 344px;
    width: 144px;
  }
  
  .kyc .line-5 {
    height: 1px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 370px;
    width: 125px;
  }
  
  .kyc .line-6 {
    height: 2px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 395px;
    width: 211px;
  }
  
  input[type="checkbox"]{
    width: 24px;
    height: 18px;
    left: 161px;
    position: absolute;
    top: 178px;
  }
  
  button{
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  